@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
}

.App {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/images/paperBg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AppTitle {
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
  margin: 20px;
  font-family: "Outfit", sans-serif;
}

.NumberSelectorContainer {
  outline: 1px solid #ffffff;
  background: #000000;
  border-radius: 99999px;
  margin-bottom: 2em;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NumberSelectorTitle {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  margin: 20px;
  font-family: "Outfit", sans-serif;
}

.SelectedAnimalName {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  margin: 20px;
  font-family: "Outfit", sans-serif;
}

.SelectedAnimalPhoto {
}

.AnimalSelectorGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-bottom: 2em;
}

.AnimalCardContainer {
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 1; /* Default opacity for active cards */
}

.AnimalCardContainer.inactive {
  opacity: 0.5; /* Reduced opacity for inactive cards */
}

.AnimalCardContainer:hover {
  transform: scale(1.05) rotate(-4deg);
}

.PopupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.PopupContent {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.CloseButton {
  display: none;
}

.LoadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
}

.LoadingImage {
  width: 200px;
  height: 200px;
  animation: fadeIn 1s ease-in-out infinite;
}

@keyframes fadeIn {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
